<div class="container" style="margin-bottom: 1.2em;">
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">
                        {{ task.title }}
                    </p>
                    <p class="subtitle is-6">Erstellt am
                        <time datetime="{{ task.created_at|date:'Y-m-d' }}">{{ task.created_at|date:'d.m.Y' }}
                            um {{ task.created_at|date:'G:i' }}</time>
                        Uhr
                    </p>
                    <p>Es werden noch {{ task.number_of_helpers_needed_remaining }} Helfer:innen gebraucht.</p>

                </div>
            </div>
            <div class="content">

                {% if task.deadline %}
                    <p><strong>Frist:</strong>
                        <time datetime="{{ task.deadline|date:'Y-m-d' }}">{{ task.deadline|date:'d.m.Y' }}</time>
                    </p>
                {% else %}
                    <p>Es gibt keine Frist.</p>
                {% endif %}
                {% if task.description %}
                    <p class="preserves-whitespace">Beschreibung: {{ task.description }}</p>
                {% else %}
                    <p>Es wurde keine Beschreibung angegeben.</p>
                {% endif %}
                {% if sent_offer == True %}
                    <p class="preserves-whitespace">Deine Kontaktperson: <br>{{ task.contact }}</p>
                {% endif %}
            </div>
        </div>
        {% url 'helfffen:task_show' task.id as task_url %} {% comment %} Here, we set task_url to the correct path in order to use it in a comparison on the next line {% endcomment %}
        {% if not request.get_full_path == task_url %}
            <footer class="card-footer">
                <a href="{% url 'helfffen:task_show' task.id %}" class="card-footer-item">
                    Ich möchte dabei helfen!</a>
            </footer>
        {% endif %}
    </div>
</div>
