{% load static %}

<!doctype html>
<html>
<head>
    {% block head %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block styles %}
            <link rel="stylesheet" href="{% static 'helfffencore/css/bulma.css' %}">
            <style>
                .preserves-whitespace {
                    white-space: pre-wrap;
                }
            </style>
        {% endblock %}
        <script src="{% static 'helfffencore/js/navbar.js' %}"></script>
        <title>{% block title %}{% endblock %} : helfffen</title>
    {% endblock %}
</head>
<body>
{% include "navbar.html" %}

{% comment %}{% with messages = get_flashed_messages() %}
    {% if messages %}
        <section class="section">
            <div class="container">
                {% for message in messages %}
                    <div class="notification is-success">
                        {{ message }}
                    </div>
                    </section>
                {% endfor %}
    {% endif %}
{% endwith %}{% endcomment %}


</div>
{% block content %}{% endblock %}
<div id="footer">
    {% block footer %}
    {% endblock %}
</div>
</body>
</html>
