{% extends "base.html" %}
{% block title %}helfffen{% endblock %}

{% block content %}
    <section class="hero is-medium is-primary is-bold">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    Du bist bereit zu helFFFen?
                </h1>
                <h2 class="subtitle">
                    Hilf uns dabei, die Ziele von Fridays for Future zu erreichen
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="content">
                <h1 class="title">Offene Aufgaben im Überblick</h1>
                {% if tasks %}
                    <ul>
                        {% for task in tasks %}
                            {% if task.helpers_needed %}
                                <li>
                                    <a href="{% url 'helfffen:task_show' task.id %}">{{ task.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <h1 class="title">Neueste Aufgaben</h1>
            {% if tasks %}
                {% for task in tasks %}
                    {% if task.helpers_needed %}
                        {% include "tasks/_task_card.html" %}
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>Es gibt derzeit keine offenen Aufgaben.</p>
            {% endif %}
        </div>
    </section>


{% endblock %}
