[flake8]
exclude =
    *.egg-info,
    .git,
    .mypy_cache
    .nox,
    .pytest_cache,
    __pycache__,
    manage.py,

ignore =
    # ANN101 Missing type annotation for self in method
    ANN101,
    # ANN102 Missing type annotation for cls in class method
    ANN102,
    # ANN401 Disallow typing.Any
    ANN401,
    # B008 function calls for default values - this is used heavily by pydantic/fastapi
    B008,
    # B305 `.next()` -> false positive: https://github.com/PyCQA/flake8-bugbear/issues/59
    B305,
    # C901 mccabe code complexity check -> postponed
    C901,
    # Missing docstring in public module
    D100,
    # Missing docstring in public class
    D101,
    # Missing docstring in public method
    D102,
    # Missing docstring in public function
    D103,
    # Missing docstring in public package
    D104,
    # Missing docstring in magic method
    D105,
    # Missing docstring in public nested class
    D106,
    # Missing docstring in __init__
    D107,
    # One-line docstring should fit on one line with quotes
    D200,
    # No blank lines allowed before function docstring
    D201,
    # No blank lines allowed after function docstring
    D202,
    # 1 blank line required before class docstring
    D203,
    # Section underline is over-indented
    D215,
    # Deprecated: Use u””” for Unicode docstrings
    D302,
    # Section underline should be in the line following the section’s name
    D408,
    # Section underline should match the length of its name
    D409,
    # Missing blank line after last section
    D413,
    # Section name should end with a colon
    D416,
    # Missing argument descriptions in the docstring
    D417,
    # Function/ Method decorated with @overload shouldn’t contain a docstring
    D418,
    # E704 multiple statements on one line (def)
    E704,
    # F405 ... may be undefined or from star import -> We use star imports
    F405,
    # F821 undefined name ... -> Seems to be broken (for type annotations which use function calls as types)
    F821,
    # N8** naming conventions (pep8) -> postponed
    N8,
    # W503 line break before binary operator
    W503,


# * Allow unused imports in __init__.py (F401)
# * No max line-length and no annotations in tests and fixtures required (E501,ANN)
# * Special treatment for test fixtures and tests (F811)
# * No max line-length and no annotations in migrations (E501,ANN)
# * Allow print statements in management commands (T201)
per-file-ignores =
    __init__.py: F401
    *_fixtures.py: E501,ANN,F811
    test_*.py: E501,ANN,F811,F401
    */migrations/*.py: E501,ANN


max-complexity = 5
max-line-length = 115

# Select whitelist (usable during initial linting error resolving)
# select = A,C,E,F,W,B,B950
